<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%function formatDate(dateString) { const date = new Date(dateString); const
    options = { day: "2-digit", month: "short", year: "numeric", timeZone:
    "Asia/Kolkata", }; return date.toLocaleDateString("en-IN", options); } %>

    <section>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 class="fw-bold">
              Update Callback for <%=admincallbacks.name%>
            </h2>

            <div class="mt-5">
              <form method="post" action="/storeupdatecallbacks">
                <input
                  type="hidden"
                  name="id"
                  value="<%=admincallbacks._id%>"
                />
                <div class="d-flex" style="gap: 24px">
                  <div class="mb-3 w-50">
                    <label for="nameInput" class="form-label"
                      >User Name *</label
                    >
                    <input
                      type="text"
                      name="name"
                      value="<%=admincallbacks.name%>"
                      class="form-control"
                      id="nameInput"
                      placeholder="John Smith"
                    />
                  </div>
                  <div class="mb-3 w-50">
                    <label for="emailInput" class="form-label"
                      >Email address *</label
                    >
                    <input
                      type="email"
                      name="email"
                      value="<%=admincallbacks.email%>"
                      class="form-control"
                      id="emailInput"
                      placeholder="name@example.com"
                    />
                  </div>
                </div>

                <div class="d-flex" style="gap: 24px">
                  <div class="mb-3 w-50">
                    <label for="phoneInput" class="form-label"
                      >Phone Number *</label
                    >
                    <input
                      type="number"
                      name="phone"
                      value="<%=admincallbacks.phone%>"
                      class="form-control"
                      id="phoneInput"
                      placeholder="99999 99999"
                    />
                  </div>
                  <div class="mb-3 w-50">
                    <label for="statusInput" class="form-label">Status</label>
                    <select class="form-select" id="statusSelect" name="status" aria-label="Default select example">
                        <option value="0" <%= admincallbacks.status === 0 ? 'selected' : '' %>>New Lead</option>
                        <option value="1" <%= admincallbacks.status === 1 ? 'selected' : '' %>>Paid</option>
                        <option value="2" <%= admincallbacks.status === 2 ? 'selected' : '' %>>Not Interested</option>
                        <option value="3" <%= admincallbacks.status === 3 ? 'selected' : '' %>>Follow Up</option>
                      </select>                      
                  </div>
                </div>

                <div class="mb-3">
                  <label for="notesInput" class="form-label">Notes</label>
                  <textarea
                    type="text"
                    name="notes"
                    value="<%=admincallbacks.notes%>"
                    class="form-control"
                    id="notesInput"
                    placeholder="Write some notes here"
                  >
<%=admincallbacks.notes%></textarea
                  >
                </div>
                <button class="btn btn-primary mt-4 w-100">Update Lead</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
